#root {
  margin:0;
  padding: 0;
  width: 100vw;
  height:100vh;

}

*{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
}

.wrapper{
  width:100vw;
  height:100vh;
}

.canvas{
  position: absolute;
  top:0;
  width:100vw;
  height:100vh;
  z-index: 1;
}




.background{
  position: absolute;
  width:100vw;
  height:100vh;
  background-image: url('https://images.unsplash.com/photo-1536514498073-50e69d39c6cf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80');
  background-size:cover;
  z-index: 0;
  color:hotpink;
  font-size: 3rem;
  
}

.header{
  position: absolute;
  top:40px;
  width:100vw;
  z-index: 2;
  font-size: 3rem;
  
}

.span{
  background-color: white;
}

.spanpink{
  background-color: hotpink;
}

.header h1{
  padding: 0;
  margin:0;
}

