#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;

  z-index: 2;
}

.wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 1;
}

.nav-menu {
  position: fixed;
  top: 1rem;
  right: 3rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
}

.nav-menu li {
  list-style: none;
  margin-left: 0;
}

.canvas {
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.welcome {
  height: 100vh;
  padding-left: 1rem;
  padding-top: 20%;
}

.tech-skills-section {
  height: 100vh;
  padding-left: 1rem;
}

.projects {
  height: 150vh;
  padding-left: 1rem;
}

.contact {
  height: 100vh;
  padding-left: 1rem;
}

.playground {
  height: 100vh;
  padding-left: 1rem;
}

.tech-skills-article {
  display: flex;
  flex-wrap: wrap;

  justify-items: left;
  width: 60%;
  margin-top: 1rem;
  gap: 1rem;
}

.tech-skill-card-section {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;
}

.tech-skill-card {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  width: 6rem;
  height: 5rem;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(228, 248, 255, 60%);
  border: 1px solid black;
  border-radius: 5px;
}

.tech-skill-card img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  background-color: white;
  border-radius: 5px;
}

.tech-skill-card:hover {
  background-color: rgba(255, 105, 180);
}

.project-card-article {
  display: flex;
  flex-direction: column;
  width: 7cqb;
  min-width: 700px;
  height: fit-content;
  margin-top: 1rem;
}

.project-card-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  background-color: rgba(228, 248, 255, 60%);
  border: 1px solid black;
  border-radius: 5px;
}

.project-card-div p {
  padding: 0.5rem;
}

.project-card-div img {
  width: 100%;
}

.projects-nav {
  display: inline-flex;
  font-size: 1.2rem;
  gap: 0.5rem;
  padding: 2rem;
  margin-top: 1rem;
  background-color: rgba(228, 248, 255, 60%);
  border: 3px solid black;
  border-radius: 5px;
  justify-content: space-between;
}

.projects-nav-link:hover {
  background-color: hotpink;
  cursor: pointer;
}

.project-tech-stack ul {
  display: inline-flex;
  justify-content: left;
  gap: 0.5rem;
  list-style: none;
  margin-top: 1rem;
  border: 1px solid black;
  background-color: rgba(228, 248, 255, 40%);
  padding: 0.5rem;
  border-radius: 5px;
}

.desc {
  display: flex;
  align-items: center;
}

.description {
  align-self: flex-start;
}

.image-div {
}
.github-link {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.contact-and-socials {
  display: flex;
  gap: 1rem;
}

.form-wrapper {
  display: flex;
}

.contact-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid black;
  padding: 1rem;
  min-width: 18rem;
  width: auto;
  border-radius: 5px;
  background-color: rgba(228, 248, 255, 60%);
}

.input {
  font-size: 1.2rem;
}

.socials {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border: 2px solid black;
  padding: 1rem;
  min-width: 10rem;
  width: auto;
  border-radius: 5px;
  background-color: rgba(228, 248, 255, 60%);
}

.icons {
  display: flex;
  gap: 1rem;
}

.playground-article {
  display: flex;
  flex-wrap: wrap;
  justify-items: left;
  width: 65%;
  margin-top: 1rem;
  gap: 1rem;
}

.playground-card {
  padding: 0.7rem;
  background-color: rgba(228, 248, 255, 60%);
  border: 1px solid black;
  border-radius: 5px;
}

.playground-card img {
  width: 10rem;
  height: 10rem;
}

.playground-card:hover {
  background-color: rgba(255, 105, 180);
}

.long-line-div {
  border: 2px solid black;
  width: 80%;
}

/* .background{
  position: absolute;
  width:100vw;
  height:100vh;
  background-image: url('https://images.unsplash.com/photo-1536514498073-50e69d39c6cf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80');
  background-size:cover;
  z-index: 0;
  color:hotpink;
  font-size: 3rem;
  
} */

.span {
  background-color: white;
}

.spanpink {
  background-color: hotpink;
}

.welcome h1 {
  font-size: 8rem;
}

.welcome h2 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
  display: inline;
}

h3 {
  font-size: 1rem;
  display: inline;
  background-color: hotpink;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: underline;
}

h4 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

.link {
  cursor: pointer;
}

.p-link {
  display: inline;
  background-color: hotpink;
  padding: 0.5rem;
  border-radius: 5px;
}

.p-link:hover {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 5px;
}

.link:hover {
  background-color: hotpink;
  cursor: pointer;
}
